parameters:

	templateDir: %appDir%/templates

	develEmail:

	doctrine:
		entityDir: %appDir%/models/Entity
		proxyDir: %appDir%/models/Proxy
		autogenerateProxyClasses: false
		classMetadataFactoryName: Hnizdil\Doctrine\ORM\Mapping\ClassMetadataFactory
		dataTypes:
			money: Hnizdil\DBAL\MoneyType
			file: Hnizdil\DBAL\FileType
			url: Hnizdil\DBAL\UrlType
			email: Hnizdil\DBAL\EmailType
			password: Hnizdil\DBAL\PasswordType
			sorting: Hnizdil\DBAL\SortingType

php:

	date.timezone: Europe/Prague

nette:

	session:
		autoStart: smart

	forms:
		messages:
			URL: 'Položka „%%%label“ není platná WWW adresa'
			EMAIL: 'Položka „%%%label“ není platná e-mailová adresa'
			IMAGE: 'Nahraný soubor „%%%label“ musí být JPG, PNG nebo GIF obrázek'
			FILLED: 'Položka „%%%label“ musí být vyplněna'
			LENGTH: 'Položka „%%%label“ musí být dlouhá přesně %%%d znaků'
			INTEGER: 'Položka „%%%label“ musí být číslo'
			MAX_LENGTH: 'Položka „%%%label“ nesmí být delší než %%%d znaků'

services:

	router:
		class: Hnizdil\Nette\Application\Routers\CliRouteList

	#nette.userStorage:
		#class: Hnizdil\Nette\Http\UserStorage

	#session:
		#setup:
			#- setStorage(@mySqlSessionStorage)

	hnizdilCache:
		factory: @nette.cache(Hnizdil)

	em:
		factory: Doctrine\ORM\EntityManager::create
		arguments:
			- %database%
			- @emConfig
			- @eventManager

	emConfig:
		class: Doctrine\ORM\Configuration
		setup:
			- setProxyNamespace(Hnizdil\Proxy)
			- setProxyDir(%doctrine.proxyDir%)
			- setMetadataDriverImpl(@annotationDriver)
			- setQueryCacheImpl(@doctrineCache(Queries))
			- setMetadataCacheImpl(@doctrineCache(Metadata))
			- setAutoGenerateProxyClasses(%doctrine.autogenerateProxyClasses%)
			- setClassMetadataFactoryName(%doctrine.classMetadataFactoryName%)

	annotationDriver:
		factory: Hnizdil\Doctrine\ORM\Mapping\Driver\AnnotationDriver(
			@annotationReader
			%doctrine.entityDir%
		)

	annotationReader:
		factory: Hnizdil\Doctrine\AnnotationReaderFactory::create(
			%libsDir%
			@doctrineCache(Annotations)
		)

	eventManager:
		class: Doctrine\Common\EventManager
		setup:
			- addEventSubscriber(@uploadRemoveEventSubscriber)

	uploadRemoveEventSubscriber:
		class: Hnizdil\Doctrine\UploadRemoveEventSubscriber

	mySqlSessionStorage:
		class: Hnizdil\Nette\Http\MySqlSessionStorage
		arguments:
			- %database.host%
			- %database.user%
			- %database.password%
			- %database.dbname%

	noTranslator:
		class: Hnizdil\Nette\Localization\NoTranslator

	translatorFactory:
		class: Hnizdil\Factory\TranslatorFactory
		arguments:
			- %libsDir%/Hnizdil/Locale
			- @noTranslator

	templateFactory:
		class: Hnizdil\Factory\TemplateFactory
		arguments:
			- @nette.template
			- %templateDir%

	wwwPathGetter:
		class: Hnizdil\Service\WwwPathGetter
		arguments:
			- %wwwDir%

	businessDate:
		class: Hnizdil\Service\BusinessDate
		arguments:
			- @hnizdilCache::derive(BusinessDate)

	downloader:
		class: Hnizdil\Service\Downloader

	formFactory:
		class: Hnizdil\Factory\FormFactory
		arguments:
			- @translatorFactory

	entityFormFactory:
		class: Hnizdil\Factory\EntityFormFactory
		arguments:
			- @container # jen kvůli parameters
			- @em
			- @translatorFactory
			- @entityFactory
			- @wwwPathGetter

	entityFactory:
		class: Hnizdil\Factory\EntityFactory

	doctrineModelFactory:
		class: Hnizdil\Gridito\DoctrineModelFactory
		arguments:
			- @em
			- @doctrineQueryBuilderModelFactory

	doctrineQueryBuilderModelFactory:
		class: Hnizdil\Gridito\DoctrineQueryBuilderModelFactory

factories:

	nette.latte:
		class: Hnizdil\Nette\Latte\Engine

	doctrineCache:
		parameters: [namespace]
		class: Hnizdil\Doctrine\Cache(
			@nette.cache(Doctrine)
			%namespace%
		)

	grid:
		parameters: [entityClassName]
		class: Hnizdil\Gridito\Grid(
			@container
			@em
			@griditoModel(%entityClassName%)
			@translatorFactory
			%entityClassName%
		)

	form:
		factory: @formFactory::create
		parameters:
			parent: null
			name: null
		arguments:
			- %parent%
			- %name%

	entityForm:
		factory: @entityFormFactory::create
		parameters:
			- entity
			callbacks: []
		arguments:
			- %entity%
			- %callbacks%

	griditoModel:
		factory: @doctrineModelFactory::create
		parameters:
			- entityClassName
		arguments:
			- %entityClassName%

	template:
		factory: @templateFactory::create
		parameters:
			path: null
			presenter: null
		arguments:
			- %path%
			- %presenter%

	translator:
		factory: @translatorFactory::create
		parameters:
			locale: null
		arguments:
			- %locale%
